:root {
  --color-green: #94c11f;
  --color-yellow: #fdee23;
  --color-blue: #069bda;
  --color-pink: #e6027c;
  --color-red: #e32e2e;
  --color-gray: #545554;
}

body {
  background: #545554;
}

.stepsCard {
    position: absolute;
    width: 80%;
    z-index: 10;
    bottom: 10%;
    left: 10%;
    border-radius: 5%;
  }

.stepImg {
  width: 25%;
  }

.container {
  background: #fff;
  text-align: left;
  padding: 0.5% 0% 1% 5%;
  border-radius: 25px 25px 10px 5px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.card {
  text-align: center;
}
  
.say-hi-btn {
    padding: 0.25em;
    border-radius: 10px;
    border: none;
    background: var(--color-blue);
    color: white;
    width: 10em;
    height: 3em;
  }

.say-hi-btn:hover {
    background: var(--color-pink);
    color: white;
  }