:root {
  --color-green: #94c11f;
  --color-yellow: #fdee23;
  --color-blue: #069bda;
  --color-pink: #e6027c;
  --color-red: #e32e2e;
  --color-gray: #545554;
}

body {
  background: #545554;
}

.stepsCards {
    position: absolute;
    width: 80%;
    z-index: 10;
    bottom: 10%;
    left: 10%;
    border-radius: 5%;
  }

.centerCards {
    position: absolute;
    width: 80%;
    z-index: 10;
    bottom: 5%;
    left: 10%;
    text-align: center;
  }

.stepImg {
  width: 25%;
  }

.container {
  background: #fff;
  text-align: left;
  padding: 0.5% 1% 1% 5%;
  border-radius: 25px 25px 10px 5px;
  margin-bottom: 10%;
  margin-top: 5%;
}

.card {
  text-align: center;
}
  
.nextBtn {
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    background: var(--color-blue);
    color: white;
    width: 10em;
    height: 3em;
  }

.nextBtn:hover {
    background: var(--color-pink);
    color: white;
  }

.stepsBtn {
    border-radius: 10px;
    border: none;
    background: var(--color-gray);
    color: white;
    width: 3em;
    height: 3em;
    margin-top: 1em;
  }

.stepsBtn:hover {
    border-radius: 10px;
    border: none;
    background: var(--color-pink);
    color: white;
    height: 3em;
  }

.curentStepBtn {
  border-radius: 10px;
    border: none;
    background: var(--color-pink);
    color: white;
    width: 3em;
    height: 3em;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.say-hi-btn {
  padding: 0.25em;
  border-radius: 10px;
  border: none;
  background: var(--color-blue);
  color: white;
  width: 10em;
  height: 5em;
}

.say-hi-btn:hover {
  background: var(--color-pink);
  color: white;
}